name: CI

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  lint-test:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"
          cache-dependency-path: pyproject.toml
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install
      - name: Run lint
        run: make lint
      - name: Run tests
        run: make test
